{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "system-import-transformer",
    "transform-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}