html, body, ul {
  padding: 0;
  margin: 0; }

body {
  color: #222;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

@media (min-width: 768px) {
  #page {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    max-height: 100vh; } }

@media (max-width: 767px) {
  #page {
    display: flex;
    flex-direction: column;
    max-height: 100vh; }
    #page header {
      flex: 1; }
    #page main {
      flex: 1; } }

.encloser {
  display: flex;
  flex-direction: row; }

@media (max-width: 768px) {
  .encloser {
    flex-direction: column; } }

ul {
  list-style: none; }

header {
  display: flex;
  background-color: #1e202f;
  color: #fff;
  padding: 10px 10px 5px;
  flex-direction: row;
  justify-content: space-between; }
  header .users-list {
    order: -1;
    flex-grow: 1; }
    header .users-list .users-icon {
      cursor: pointer; }
    header .users-list ul {
      display: none; }
  header .logo-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; }
  header .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold; }

@media (min-width: 768px) {
  header {
    flex: 1;
    display: inline-flex;
    max-width: 306px;
    flex-direction: column;
    justify-content: start;
    height: 100vh; }
    header .logo-container {
      margin-bottom: 15px;
      order: -1;
      flex-grow: 0; }
    header .users-list {
      flex-grow: 0; }
      header .users-list .users-icon {
        display: none; }
      header .users-list ul {
        display: block; } }

main {
  display: flex;
  flex-grow: 1;
  max-width: 100vw; }
  main .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative; }
    main .content .message-box {
      height: calc(100vh - 120px);
      overflow-y: scroll;
      padding-top: 5px; }
      main .content .message-box ul li {
        display: inline-block;
        border: solid 1px #eee;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 5px;
        width: 90%;
        word-wrap: break-word; }
        main .content .message-box ul li .username {
          display: block;
          font-weight: bold; }
        main .content .message-box ul li.chat-outgoing {
          float: right;
          color: white;
          background-color: #827cd2; }
          main .content .message-box ul li.chat-outgoing a {
            text-decoration: underline;
            color: white; }
          main .content .message-box ul li.chat-outgoing a:hover {
            color: #ddd; }
        main .content .message-box ul li.chat-incoming {
          float: left;
          color: #333; }
    main .content .message-list {
      padding: 0 15px; }
    main .content .message-form {
      padding: 5px;
      background-color: white;
      border-top: solid 1px #ccc;
      margin-top: auto; }
      main .content .message-form .message {
        margin-right: 40px; }
        main .content .message-form .message textarea {
          /* this font-size disables zooming
          on mobile safari, which breaks layout */
          font-size: 16px; }
      main .content .message-form button {
        border: none;
        padding: 5px;
        float: right;
        height: 54px;
        vertical-align: bottom; }
        main .content .message-form button i {
          color: #1e202f; }

@media (min-width: 768px) {
  main {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    justify-content: start;
    height: 100vh;
    width: 50vw !important; }
    main .content {
      max-width: 100%; }
      main .content .message-box {
        height: calc(100vh - 70px); } }

.alert-container {
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  z-index: 10; }
  .alert-container .alert {
    padding: 5px 15px; }
    .alert-container .alert.alert-dismissable .close {
      right: auto; }
