html, body, ul {
  padding: 0;
  margin: 0; }

body {
  color: #222;
  font-family: 'Lato', sans-serif; }

// remove bootstrap's default gutters
.container {
  width: 100%;
}

ul {
  list-style: none;
}

.alert-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.message-box {
  ul {
    li {
      display: block;
      border: solid 1px #eee;
      border-radius: 10px;
      padding: 5px 15px;
      margin-bottom: 5px;
      width: 80%;
      position: relative;

      &.chat-outgoing {
        float: right;
        color: white;
        background-color: #827cd2;

        a {
          text-decoration: underline;
          color: white;
        }

        a:hover {
          color: #ddd;
        }

        .username {
          display: none;
        }
      }

      &.chat-incoming {
        float: left;
        color: #333;

        .username {
          display: block;
          font-style: italic;
        }
      }
    }

    li:hover .delete-message {
      visibility: visible;
    }
  }
}

.message-form {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding-bottom: 15px;
  background-color: white;
}

.message-list {
  margin-bottom: 100px;
  padding: 0 15px;
}
