html, body, ul {
  padding: 0;
  margin: 0; }

body {
  color: #222;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

// remove bootstrap's default gutters
.container {
  width: 100%;
}

ul {
  list-style: none;
}

.message-box {
  ul {
    li {
      display: block;
      border: solid 1px #eee;
      border-radius: 10px;
      padding: 5px 15px;
      margin-bottom: 5px;
      width: 80%;
      position: relative;

      &.chat-outgoing {
        float: right;
        color: white;
        background-color: #827cd2;

        a {
          text-decoration: underline;
          color: white;
        }

        a:hover {
          color: #ddd;
        }

        .username {
          display: none;
        }
      }

      &.chat-incoming {
        float: left;
        color: #333;

        .username {
          display: block;
          font-style: italic;
        }
      }
    }

    li:hover .delete-message {
      visibility: visible;
    }
  }
}

.message-form {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 5px;
  background-color: white;
  border-top: solid 1px #ccc;

  textarea {
    /* this font-size disables zooming
    on mobile safari, which breaks layout */
    font-size: 16px;
    width: calc(100% - 40px);
  }

  button {
    border: none;
    padding: 5px;
    float: right;
    height: 54px;
    vertical-align: bottom;

    i {
      color: #1e202f;
    }
  }
}

.message-list {
  margin-bottom: 100px;
}
