html, body, ul {
  padding: 0;
  margin: 0; }

body {
  color: #222;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.encloser {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .encloser {
    flex-direction: column;
  }
}

ul {
  list-style: none;
}

// HEADER - mobile settings
header {
  display: flex;
  background-color: $base-color;
  color: #fff;
  padding: 10px 10px 5px;
  flex-direction: row;
  justify-content: space-between;

  .users-list {
    order: -1;
    flex-grow: 1;

    .users-icon {
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .settings {
  }
}

// HEADER - desktop settings
@media (min-width: 768px) {
  header {
    flex: 1;
    min-width: 300px;
    flex-direction: column;
    justify-content: start;
    height: 100vh;

    .logo-container {
      margin-bottom: 15px;
      order: -1;
      flex-grow: 0;
    }

    .users-list {
      flex-grow: 0;

      .users-icon {
        display: none;
      }

      ul {
        display: block;
      }
    }
  }
}

// MAIN - mobile settings
main {

  display: flex;
  flex-grow: 1;

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    .message-box {
        // scroll with flexbox needs revisiting
        // for now, message box is viewport height
        // less display height of message form
        // + display height of header
        height: calc(100vh - 120px);
        overflow-y: scroll;
        padding-top: 5px;

      ul {
        li {
          display: block;
          border: solid 1px #eee;
          border-radius: 10px;
          padding: 5px 10px;
          margin-bottom: 5px;
          width: 90%;
          word-wrap: break-word;

          .username {
            display: block;
            font-weight: bold;
          }

          &.chat-outgoing {
            float: right;
            color: white;
            background-color: #827cd2;

            a {
              text-decoration: underline;
              color: white;
            }

            a:hover {
              color: #ddd;
            }
          }

          &.chat-incoming {
            float: left;
            color: #333;

          }
        }
      }
    }

    .message-list {
      padding: 0 15px;
    }

    .message-form {
      padding: 5px;
      background-color: white;
      border-top: solid 1px #ccc;
      margin-top: auto;

      .message {
        margin-right: 40px;

        textarea {
          /* this font-size disables zooming
          on mobile safari, which breaks layout */
          font-size: 16px;
        }
      }

      button {
        border: none;
        padding: 5px;
        float: right;
        height: 54px;
        vertical-align: bottom;

        i {
          color: #1e202f;
        }
      }
    }

  } // end .content

} // end main

// MAIN - desktop settings
@media (min-width: 768px) {
  main {
    flex: 5;

    .content {
      .message-box{
        // scroll with flexbox needs revisiting
        // for now, message box is viewport height
        // less display height of message form
        height: calc(100vh - 70px);
      }
    }
  }
}

// Alert styles, overrides default bootstrap
// styles for positioning
.alert-container {
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  z-index: 10;

  .alert {
    padding: 5px 15px;

    &.alert-dismissable {
      .close {
        right: auto;
      }

    }
  }
}
