html, body, ul {
  padding: 0;
  margin: 0; }

body {
  color: #222;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

// Desktop - Max height & width
@media (min-width: 768px) {
  #page {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    max-height: 100vh;
  }
}

// Mobile - Max & min height
@media (max-width: 767px) {
  #page {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    header {
      flex: 1;
    }
    main {
      flex: 1;
    }
  }
}


.encloser {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .encloser {
    flex-direction: column;
  }
}

ul {
  list-style: none;
}

// HEADER - mobile settings
header {
  display: flex;
  background-color: $base-color;
  color: #fff;
  padding: 10px 10px 5px;
  flex-direction: row;
  justify-content: space-between;

  .users-list {
    order: -1;
    flex-grow: 1;

    .users-icon {
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .settings {
  }
}

// HEADER - desktop settings
@media (min-width: 768px) {
  header {
    flex: 1;
    display: inline-flex;
    max-width: 306px;
    flex-direction: column;
    justify-content: start;
    height: 100vh;

    .logo-container {
      margin-bottom: 15px;
      order: -1;
      flex-grow: 0;
    }

    .settings {
      float: right;
      margin-left: auto;
      cursor: pointer;
    }

    .info {
      float: left;
    }


    .users-list {
      flex-grow: 0;

      .users-icon {
        display: none;
      }

      ul {
        display: block;
      }
    }
  }
  .modal-header {
    border-bottom: none;
  }
  .message{
    display: flex;
    flex-direction: row;
  }
  .form-control {
    flex-grow: 2;
    border: none;
  }
  .chat-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  .emoji-picker-icon {
    float: left;
    margin-left: 8px;
    cursor: pointer;
  }
}

// MAIN - mobile settings
main {

  display: flex;
  flex-grow: 1;
  max-width: 100vw;

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    .message-box {
        // scroll with flexbox needs revisiting
        // for now, message box is viewport height
        // less display height of message form
        // + display height of header
        height: calc(100vh - 120px);
        overflow-y: scroll;
        padding-top: 5px;

      ul {
        li {
          display: inline-block;
          border: solid 1px #eee;
          border-radius: 10px;
          padding: 5px 10px;
          margin-bottom: 5px;
          width: 90%;
          word-wrap: break-word;

          .username {
            display: block;
            font-weight: bold;
          }

          &.chat-outgoing {
            float: right;
            color: white;
            background-color: #827cd2;

            a {
              text-decoration: underline;
              color: white;
            }

            a:hover {
              color: #ddd;
            }
          }

          &.chat-incoming {
            float: left;
            color: #333;

          }
        }
      }
    }

    .message-list {
      padding: 0 15px;
    }

    .message-form {
      padding: 5px;
      background-color: white;
      border-top: solid 1px #ccc;
      margin-top: auto;

      .message {
        // margin-right: 40px;
        display: flex;

        textarea {
          /* this font-size disables zooming
          on mobile safari, which breaks layout */
          font-size: 16px;
        }
      }

      button {
        border: none;
        padding: 5px;
        float: right;
        height: 54px;
        vertical-align: bottom;

        i {
          color: #1e202f;
        }
      }
    }

  } // end .content

} // end main

// MAIN - desktop settings
@media (min-width: 768px) {
  main {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    justify-content: start;
    height: 100vh;
    width: 50vw !important;

    .content {
      max-width: 100%;
      .message-box{
        // scroll with flexbox needs revisiting
        // for now, message box is viewport height
        // less display height of message form
        height: calc(100vh - 70px);
      }
    }
  }
}

// Alert styles, overrides default bootstrap
// styles for positioning
.alert-container {
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  z-index: 10;

  .alert {
    padding: 5px 15px;

    &.alert-dismissable {
      .close {
        right: auto;
      }

    }
  }
}

// Info Positioning relative to Logo
#logo-info {
  display: inherit;
  .info {
    padding-left: 15px;
    svg {
      vertical-align: top;
      cursor: pointer;
    }
  }
}
